.centerContent{
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
}

a{
    box-shadow: 2px 2px 10px black;
    transition: 0.1s;
}
a:active{
    box-shadow: 0px 0px 0px black;
    transition: 0.1s;
}